{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Athlete</title>
    <!-- Link to CSS file using the static template tag -->
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <h1>Add Athlete for {{ sport|capfirst }}</h1>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ athlete_form }}
        {% csrf_token %}
        {{ sport_form }}
        <input type="submit" value="Submit" class="btn-submit">
    </form>
</body>
</html>
