{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Athlete Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <div class="header">
        <p><a href="{% url 'landing_page' %}">Home</a></p>
        <div class="header-container">
            {% if not logged_in %}
            <p><a href="{% url 'login_page' %}">Login</a></p>
            <p><a href="{% url 'signup_page' %}">Signup</a></p>
            {% else %}
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <p><a href="{% url 'user_page' curr_user_name %}">Profile</a></p>
            {% endif %}
        </div>
    </div>
    
    <h1>{{ athlete.firstName }} {{ athlete.lastName }}</h1>
    <p>Sport: {{ athlete.sport }}</p>
    <p>Height: {{ athlete.height }}</p>
    <p>Weight: {{ athlete.weight }}</p>
    <p>Age: {{ athlete.age }}</p>
    <p>Wins: {{ athlete.wins }}</p>
    <p>Losses: {{ athlete.losses }}</p>
    <p>Join Year: {{ athlete.joinYear }}</p>
    <p>Team: {{ athlete.teamName }}</p>
    <p>Position: {{ athlete.position }}</p>
    <p>Total Page Views: {{ athlete.numViews }}</p>

    <h2>Statistics:</h2>
    {% if athlete.sport == 'baseball' %}
        <p>Batting Average: {{ athlete_stats.battingAvg }}</p>
        <p>Home Runs: {{ athlete_stats.homeRuns }}</p>
        <p>ERA: {{ athlete_stats.era }}</p>
        <p>RBI: {{ athlete_stats.rbi }}</p>
        <p>Stolen Bases: {{ athlete_stats.stolenBases }}</p>
    {% elif athlete.sport == 'basketball' %}
        <p>Points per Game: {{ athlete_stats.pointsPG }}</p>
        <p>Assists per Game: {{ athlete_stats.assistsPG }}</p>
        <p>Rebounds per Game: {{ athlete_stats.reboundsPG }}</p>
        <p>3-Point Percentage: {{ athlete_stats.threePPerc }}</p>
        <p>Free Throw Percentage: {{ athlete_stats.freeThrowPerc }}</p>
    {% elif athlete.sport == 'soccer' %}
        <p>Goals Scored: {{ athlete_stats.goalsScored }}</p>
        <p>Shots: {{ athlete_stats.shots }}</p>
        <p>Saves: {{ athlete_stats.saves }}</p>
        <p>Fouls: {{ athlete_stats.fouls }}</p>
        <p>Minutes Played: {{ athlete_stats.minutesPlayed }}</p>
    {% elif athlete.sport == 'football' %}
        <p>Passing Yards: {{ athlete_stats.passingYards }}</p>
        <p>Rushing Yards: {{ athlete_stats.rushingYards }}</p>
        <p>Tackles: {{ athlete_stats.tackles }}</p>
        <p>Sacks: {{ athlete_stats.sacks }}</p>
        <p>Interceptions: {{ athlete_stats.interceptions }}</p>
    {% endif %}
    <div class="additional-buttons">
        <form action="{% url 'sports_page' sport=sport %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Go back</button>
        </form>
        {% if logged_in %}
            {% if is_admin %}
                <form action="{% url 'edit_athlete' sport=sport athlete_id=athlete.id %}" method="get" style="display:inline;">
                    <button type="submit">Edit Athlete</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
