{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baseball Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <h1>Baseball Page</h1>
    <div class="additional-buttons">
        <form action="{% url 'landing_page' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Go back</button>
        </form>
        {% if logged_in %}
            {% if is_admin %}
                <form action="{% url 'add_athlete' sport='baseball' %}" method="get" style="display:inline;">
                    <button type="submit">Add Athlete</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>