{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Athlete</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <div class="header">
        <p><a href="{% url 'landing_page' %}">Home</a></p>
        <div class="header-container">
            {% if not logged_in %}
            <p><a href="{% url 'login_page' %}">Login</a></p>
            <p><a href="{% url 'signup_page' %}">Signup</a></p>
            {% else %}
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <p><a href="{% url 'user_page' curr_user_name %}">Profile</a></p>
            {% endif %}
        </div>
    </div>
    
    <h1>Edit Athlete for {{ sport|capfirst }}</h1>
    <form method="post" class="login-form">
        {% csrf_token %}
        <h3>General Information</h3>
        {{ athlete_form.as_p }}
        <h3>Sport-Specific Stats</h3>
        {{ sport_form.as_p }}
        <input type="submit" value="Save Changes" class="btn-submit">
    </form>

    <form action="{% url 'sports_page' sport=sport %}" method="get" style="display:inline;">
        <button type="submit" class="btn-secondary">Go back</button>
    </form>
</body>
</html>
