{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <div class="header">
        <p><a href="{% url 'landing_page' %}">Home</a></p>
        <div class="header-container">
            {% if not logged_in %}
            <p><a href="{% url 'login_page' %}">Login</a></p>
            <p><a href="{% url 'signup_page' %}">Signup</a></p>
            {% else %}
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <p><a href="{% url 'user_page' curr_user_name %}">Profile</a></p>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <h1>Welcome to the Sports Management Dashboard</h1>
    </div>

    <div class="additional-buttons">
        <form action="{% url 'sports_page' sport='baseball' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Baseball</button>
        </form>
        <form action="{% url 'sports_page' sport='basketball' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Basketball</button>
        </form>
        <form action="{% url 'sports_page' sport='soccer' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Soccer</button>
        </form>
        <form action="{% url 'sports_page' sport='football' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Football</button>
        </form>
    </div>

    <div class="search-container">
        <form method="get" action="{% url 'landing_page' %}" class="search-form">
            {% csrf_token %}
        <input type="text" name="search_query" placeholder="Search Athletes" value="{{ search_form.search_query.value|default:'' }}" />
        <button type="submit">Search</button>
        </form>
        {% if search_results %}
        <h3>Search Results:</h3>
        <ul>
            {% for athlete in search_results %}
                <li><a href="{% url 'athlete_page' sport=athlete.sport athlete_id=athlete.id%}">{{ athlete.firstName }} {{ athlete.lastName }}</a></li>
            {% endfor %}
        </ul>
            {% endif %}
    </div>

    <h2>Most Viewed Athletes</h2>
    <ol>
        {% for athlete in viewed_athletes %}
            <li><a href="{% url 'athlete_page' sport=athlete.sport athlete_id=athlete.id%}">{{ athlete.firstName }} {{ athlete.lastName }}</li>
        {% endfor %}
    </ol>
</body>
</html>


