<h1>Login Page</h1>
<h2>Login:</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% if invalid_user %}
<p>No User registered with this Username.</p>
{% elif invalid_password %}
<p>Incorrect Password.</p>
{% elif invalid_info %}
<p>Invalid User/Password.</p>
{% endif %}
<form action="{% url 'signup_page' %}" method="get" style="display:inline;">
    <button type="submit">Sign in</button>
</form>
<form action="{% url 'landing_page' %}" method="get" style="display:inline;">
    <button type="submit">Go back</button>
</form>