{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <div class="header">
        <p><a href="{% url 'landing_page' %}">Home</a></p>
        <div class="header-container">
            {% if not logged_in %}
            <p><a href="{% url 'login_page' %}">Login</a></p>
            <p><a href="{% url 'signup_page' %}">Signup</a></p>
            {% else %}
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <p><a href="{% url 'user_page' curr_user_name %}">Profile</a></p>
            {% endif %}
        </div>
    </div>
    
    <h1 class="page-title">Signup Page</h1>
    <div class="login-container">
        <h2>Signup:</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn-submit">
        </form>

        <div class="error-messages">
            {% if user_taken %}
            <p class="error">Username is already taken.</p>
            {% elif invalid_info %}
            <p class="error">Invalid User/Password.</p>
            {% endif %}
        </div>

        <div class="additional-buttons">
            <form action="{% url 'landing_page' %}" method="get" style="display:inline;">
                <button type="submit" class="btn-secondary">Go back</button>
            </form>
            <form action="{% url 'login_page' %}" method="get" style="display:inline;">
                <button type="submit" class="btn-secondary">Log in</button>
            </form>
        </div>
</body>
</html>