<h1>Signup Page</h1>
<h2>Signup:</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% if user_taken %}
<p>Username already taken, try another one.</p>
{% elif invalid_info %}
<p>Invalid User/Password.</p>
{% endif %}
<form action="{% url 'login_page' %}" method="get" style="display:inline;">
    <button type="submit">Log in</button>
</form>
<form action="{% url 'landing_page' %}" method="get" style="display:inline;">
    <button type="submit">Go back</button>
</form>