{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <h1>{{ sport|capfirst }} Page</h1>
    {% if are_stats %}
    <table>
        <tr>
            <th><a href="{% url 'sports_page' sport=sport %}?sort_num=1">{{ header.0 }}</a></th>
            <th><a href="{% url 'sports_page' sport=sport %}?sort_num=2">{{ header.1 }}</a></th>
            <th><a href="{% url 'sports_page' sport=sport %}?sort_num=3">{{ header.2 }}</a></th>
            <th><a href="{% url 'sports_page' sport=sport %}?sort_num=4">{{ header.3 }}</a></th>
            <th><a href="{% url 'sports_page' sport=sport %}?sort_num=5">{{ header.4 }}</a></th>
            <th><a href="{% url 'sports_page' sport=sport %}?sort_num=6">{{ header.5 }}</a></th>
        </tr>
        {% for stat in stats %}
        <tr>
            <td>
                <a href="{% url 'athlete_page' sport=sport athlete_id=stat.athlete.id %}">
                    {{ stat.athlete.firstName }} {{ stat.athlete.lastName }}
                </a>
            </td>
            {% if sport == "baseball" %}
                <td>{{ stat.battingAvg }}</td>
                <td>{{ stat.homeRuns }}</td>
                <td>{{ stat.era }}</td>
                <td>{{ stat.rbi }}</td>
                <td>{{ stat.stolenBases }}</td>
            {% elif sport == "basketball" %}
                <td>{{ stat.pointsPG }}</td>
                <td>{{ stat.assistsPG }}</td>
                <td>{{ stat.reboundsPG }}</td>
                <td>{{ stat.threePPerc }}</td>
                <td>{{ stat.freeThrowPerc }}</td>
            {% elif sport == "soccer" %}
                <td>{{ stat.goalsScored }}</td>
                <td>{{ stat.shots }}</td>
                <td>{{ stat.saves }}</td>
                <td>{{ stat.fouls }}</td>
                <td>{{ stat.minutesPlayed }}</td>
            {% elif sport == "football" %}
                <td>{{ stat.passingYards }}</td>
                <td>{{ stat.rushingYards }}</td>
                <td>{{ stat.tackles }}</td>
                <td>{{ stat.sacks }}</td>
                <td>{{ stat.interceptions }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <h2>There aren't any {{ sport|capfirst }} stats, try adding some?</h2>
    {% endif %}
    <div class="additional-buttons">
        <form action="{% url 'landing_page' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Go back</button>
        </form>
        {% if logged_in %}
            {% if is_admin %}
                <form action="{% url 'add_athlete' sport=sport %}" method="get" style="display:inline;">
                    <button type="submit">Add Athlete</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>