{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <h1>{{ sport|capfirst }} Page</h1>
    {% if are_stats %}
        <h2>There are {{ sport|capfirst }} stats</h2>
    {% else %}
        <h2>There aren't any {{ sport|capfirst }} stats, try adding some?</h2>
    {% endif %}
    <div class="additional-buttons">
        <form action="{% url 'landing_page' %}" method="get" style="display:inline;">
            <button type="submit" class="btn-secondary">Go back</button>
        </form>
        {% if logged_in %}
            {% if is_admin %}
                <form action="{% url 'add_athlete' sport=sport %}" method="get" style="display:inline;">
                    <button type="submit">Add Athlete</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>