{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <div class="header">
        <p><a href="{% url 'landing_page' %}">Home</a></p>
        <div class="header-container">
            {% if not logged_in %}
            <p><a href="{% url 'login_page' %}">Login</a></p>
            <p><a href="{% url 'signup_page' %}">Signup</a></p>
            {% else %}
            <p><a href="{% url 'logout' %}">Logout</a></p>
            <p><a href="{% url 'user_page' curr_user_name %}">Profile</a></p>
            {% endif %}
        </div>
    </div>

    <h1>{{ user.userName }}'s Profile</h1>
    <div class="profile-container">
        <img src="{% static "images/default_picture.jpg" %}" style="width: 200px; height: auto;">
        
    <!-- Profile Details Section -->
    <div class="profile-details">
        <p><strong>User Type:</strong> 
            {% if user.isAdmin %}
            Admin
            {% else %}
            Regular User
            {% endif %}
        </p>
        <p><strong>Favorite Team:</strong> {{ user.teamName }}</p>
    </div>

        <section class="favorite-athlete-section">
            <h2>Select Your Favorite Athlete</h2>
            <form method="post" class="favorite-athlete-form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn-secondary">Save</button>
            </form>
        
            {% if user.favAthlete %}
            <div class="favorite-athlete-info">
                <p><strong>Favorite Athlete:</strong></p>
                <a href="{% url 'athlete_page' sport=user.favAthlete.sport athlete_id=user.favAthlete.id %}">
                    {{ user.favAthlete.firstName }} {{ user.favAthlete.lastName }}
                </a>
                <p>Sport: <em>{{ user.favAthlete.sport|capfirst }}</em></p>
                <p>Team: <em>{{ user.favAthlete.teamName }}</em></p>
            </div>
            {% else %}
            <p>No favorite athlete selected.</p>
            {% endif %}
        </section>
        
        
        <div class="additional-buttons">
            <form action="{% url 'landing_page' %}" method="get">
                <button type="submit" class="btn-secondary">Go back</button>
            </form>
        </div>
    </div>
</body>
